.menu-container {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    width: 100%;
}

.grid-menu {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 0;
}

ul.menu {
    list-style: none;
    margin: 0 0px;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 40px 5px 0;
}

.background-shine ul.menu p:hover {
    color: #58585898;
    transition: 0.5 ease;
}

.background-shine ul.menu {
    border-bottom: #cecece7b 1px solid;
}

.background-shadow ul.menu p {
    color: #cececea1;
    transition: 0.5 ease;
}

.background-shadow ul.menu p:hover {
    color: #ffffff;
    transition: 0.5 ease;
}

.background-shadow ul.menu {
    border-bottom: #cecece13 1px solid;
}

ul.menu p {
    width: 60%;
    font-weight: 400;
    margin: 0px 70px;
    font-size: 14pt;
    text-align: center;
    padding: 8px 0px;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.5 ease;
}

.container-li {
    margin: auto;
    padding: 0 0px;
    width: 100%;
}

.container-li p.active {
    border: 1px solid #cececea1;
}

.container-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    float: right;
    padding: 0;
    margin: 25px 10px;
    width: 20%;
}

.btn-whatsapp {
    align-items: center;
    border-radius: 50px;
    border: none;
    font-size: 8pt;
    padding: 10px 0px;
    display: flex;
    justify-content: end;
    width: 55%;
    background: rgb(195, 34, 34);
    background: linear-gradient(123deg, rgba(195, 34, 34, 1) 0%, rgba(247, 152, 46, 1) 100%);
    cursor: pointer;
}

.title-contact {
    color: #fff;
    margin: 0 auto;
    padding: 0;
}

.fa-whatsapp {
    color: #fff;
    font-size: 12pt;
    margin: 0 auto;
}

.btn-whatsapp:hover {
    background: rgba(247, 152, 46, 1);
    background: linear-gradient(123deg, rgba(247, 152, 46, 1) 0%, rgba(195, 34, 34, 1) 100%);
    transition: 0.5s ease;
    scale: 1.05;
    animation: change 0.5s linear forwards;
}

@keyframes change {
    0% {
        background: rgb(195, 34, 34);
        background: linear-gradient(123deg, rgba(195, 34, 34, 1) 0%, rgba(247, 152, 46, 1) 100%);
    }

    100% {
        background: rgba(247, 152, 46, 1);
        background: linear-gradient(123deg, rgba(247, 152, 46, 1) 0%, rgba(195, 34, 34, 1) 100%);
    }
}