.background-shine h2{
    color: #000000;
}
.background-shine .fa-download{
    color: #fff;
}

.container-header-about {
    display: flex;
    flex-direction: column;
    margin: 20px 0px 0 0;
    height: 100%;
    max-width: 160vh;
}

.container-header-about .title-presentation {
    margin: 40px 40px 0 70px;
    width: 60%;
    padding: 0 0 100px 0;
    color: transparent;
    background: linear-gradient(123deg, rgba(195, 34, 34, 1) 0%, rgba(247, 152, 46, 1) 100%);
    background-clip: text;
    font-style: italic;
    font-size: 30pt;
}

h2 {
    line-height: 1.5;
    color: #fff;
    font-weight: 300;
}

.container-description-grid {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto 0;
}

.personal-description {
    margin: 0px 0px 0 70px;
    text-align: left;
    width: 100%;
    padding-right: 70px;
}

.personal-description h2 {
    font-size: 13pt;
    overflow-wrap: break-word;
    width: 100%;
}

.personal-data {
    margin: 0px 0px 0 0px;
    width: 100%;
    border-left: 3px double #cececea1;
    padding-left: 70px;
}

.personal-data .title-presentation,
.subtitle-presentation {
    text-align: left;
    line-height: 1.5;
    font-size: 12pt;
    width: 300px;
}

.btn-cv-about {
    font-family: "Quicksand", sans-serif;
    margin: 20px 70px;
    width: 20%;
    font-weight: 400;
    font-size: 12pt;
    text-align: center;
    padding: 12px 0px;
    border-radius: 40px;
    border: 1px solid #cececea1;
    background-color: transparent;
    cursor: pointer;
    transition: 0.5s ease;
    background: linear-gradient(123deg, rgba(195, 34, 34, 1) 0%, rgba(247, 152, 46, 1) 100%);
}

.btn-cv-about:hover {
    scale: 1.05;
    transition: 0.5s ease;
}