@media screen and (max-width: 900px) {
    .container-header-contact {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: scroll;
        margin: 0px 0px 0 0;
        height: 55vh;
        max-width: 160vh;
    }
    .container-header-contact .title {
        margin: 0 auto;
        width: 70%;
        padding: 0 0 30px 0;
        color: transparent;
        text-align: center;
        background: linear-gradient(123deg, rgba(195, 34, 34, 1) 0%, rgba(247, 152, 46, 1) 100%);
        background-clip: text;
        font-style: italic;
        font-size: 1em;
    }

    .container-header-contact .subtitle {
        margin: 0 0px;
        width: 100%;
        padding: 0 0 30px 0;
        color: transparent;
        text-align: center;
        font-style: italic;
        font-size: 1em;
        animation: colorate 1.5s forwards;
    }

    .submit-form {
        display: flex;
        justify-content: center;
        width: 60%;
        margin: 20px auto;
    }

    .user-data {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        margin: 0 auto;
        width: 100%;
    }

    .user-data input {
        display: flex;
        justify-content: center;
        margin: 0px auto;
        width: 80%;
        border: none;
        border-bottom: #cecece13 1px solid;
        background-color: transparent;
        padding: 20px 20px 20px 0;
        font-family: "Quicksand", sans-serif;
        font-size: 1em;
    }
    
    textarea {
        display: flex;
        justify-content: center;
        margin: 20px auto;
        border: none;
        background-color: transparent;
        border-bottom: #cecece13 1px solid;
        font-family: "Quicksand", sans-serif;
        width: 87%;
        font-size: 1.1em;
    }

    .container-socialmedia span {
        display: flex;
        justify-content: center;
        margin: 20px auto;
    }

    .grid-text-info {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 20px 0px 0 0px;
        border-top: 1px solid #cecece13;
    }

    .grid-text-info h1 {
        margin: 20px auto;
        text-align: center;
        font-size: 1em;
    }

    .grid-text-info p {
        margin: 0;
        color: #cececea1;
        font-weight: 400;
        text-align: center;
        font-size: 0.9em;
    }
}